

<h2> Profile Page </h2>


<%= image_tag @user.image, class: "img-circle", width: 200, height: 200 %>
<%= @user.nickname %>

<strong ><%= @user.nickname %> </strong>, 
                

 <%= form_for :user do |f| %>
  <p>
    <%= f.label :fullname %><br>
    <%= f.text_field :fullname %>
  </p>
 
  <p>
    <%= f.label :company %><br>
    <%= f.text_area :company %>
  </p>
 
 <p>
    <%= f.label :interest %><br>
    <%= f.text_area :interest %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>                