

<h2> Profile Page </h2>


<%= image_tag @user.image, class: "img-circle", width: 200, height: 200 %>
<%= @user.nickname %>

<strong ><%= @user.nickname %> </strong>, 
                

 <%= form_for @user do |f| %>
  <p>
    
    <%= f.label :fullname, "Full Name" %><br />
    <%= f.text_field :fullname %>
  </p>
 
  <p>
    <%= f.label :company, "Company" %><br />
    <%= f.text_field :company %>
  </p>
 
 <p>
    <%= f.label :interest, "Interests" %><br />
    <%= f.text_field :interest %>
  </p>

  <p>
    <div class="actions" >
    <%= f.submit  "Update" %>
  </div>
  </p>
<% end %>                