
<div class="row-fluid">
  
   <div class="show-page">
    
      <%= image_tag @user.image, class: "img-circle", width: 180, height: 180 %>
      
      <h3>Github ID:      <%= @user.nickname %></h3>
      <h3>Full Name:      <%= @user.fullname %></h3>
      <h3>Company:        <%= @user.company %></h3>
      <h3>Position:      <%= @user.position %></h3>
      <h3>Interests:      <%= @user.interest %></h3>
      <h3>Talks registered for:
     
  
</div>
</div>


        

