



<div class="col-md-10">

	<div class="row-fluid">
       <div class="talk">
      <h2> Schedule </h2>
        </div>

   
   <div class="talk2">
   <h4> Back-End Ops Conference is a multiple track, single day conference, hosted by the international city of London, packed with informative talks, exciting speakers and conversations all designed to stimulate ideas, challenge practices and educate in the exciting field of Back-End Operations. Interspersed throughout the day are breaks for conversation, plus delicious catered food served by an award winning chef and plenty of networking opportunities.  </h4>
   </div>

   <br />

    <div class="register">
  
   
  <% @talks.each do |talk| %>
    
    <span> <i class="fa fa-archive fa-lg fa-fw"></i> <%= talk.category.title %> </span><br />
    <strong> <%= talk.title %> </strong> <span><%= talk.start_time.strftime("%H:%M") %> - <%= talk.end_time.strftime("%H:%M") %></span><br />
    <i> <span><%= talk.speaker %></span> </i>

    <br /><br />
    <%= talk.description %><br />
    
    <br /><br />
  

    <% end %>

  
    

		
    <!-- <object data="assets/test.pdf" type="application/pdf" width="100%" height="100%"> -->
 <!-- <p>It appears you don't have Adobe Reader or PDF support in this web
    browser. <a href="assets/test.pdf"><i class="fa fa-archive fa-lg fa-fw"></i></a></p> -->
  
<!-- </object> -->






   </div>




</div>
