<!-- <p id="notice"><%= notice %></p> -->


<div class="row-fluid">
	<div class="col-md-10">
		<div class="venue">
<h2> Venue </h2>
        </div>


	<div class="position">
   <p>		
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>
</div>
<br /> 

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=400x400&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>

<div class="geocode">

<h3>Nearby Attractions</h3>

<ul>
  
 <!-- <% @nearby_locations = @location.nearbys(10) %> -->

<% for location in @location.nearbys(30) %>
   
 
  <li><%= link_to location.address, location %> (<%= location.distance.round(2) %> miles)</li>
<% end %>
</ul>

<p>

<!-- <%= link_to 'View All', locations_path %>-->
</p>
   </div>
  </div>

</div>

