<div class="row-fluid">
	<div class="speaker"
   </br> </br></br>
   <ul>
	<% @talks.each do |talk| %>
		<dl>

	<%= image_tag talk.image, class: "img-circle", width: 250, height: 250 %>
	  <span><dt>Speaker:      <%= talk.speaker %></dt></span>
      <dd>      <%= talk.speaker_profile %></dd>
      <br />
      <dd>Title of Talk:    <%= talk.title %></dd>
      <dd>Description:   <%= talk.description %></dd>
      
  			</dl>
		<% end %>
	</ul>
        </div>
      </div> 
