<!DOCTYPE html>
<html>
<head>
  <title>Tester</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if current_user %>

 <%= image_tag current_user.image, class: "img", width: 70, height: 70 %>

</br>
Welcome, <strong> <%=  current_user.nickname %></strong>!

</br>
<%= link_to 'Sign out', '/signout' %>
<% else %>
<%= link_to 'Sign in with Github', '/auth/github' %>
<% end %>


	<%#= link_to "Sign in with Github", "/auth/github" %>

<%= yield %>

</body>
</html>
