<!DOCTYPE html>
<html>
<head>
  <title>Tester</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="test.css" rel="stylesheet" type="text/css">

<body>

	<div class="container">
		<div class='navbar navbar-inverse'>
      <div class='navbar-inner nav-collapse' style="height: auto;">
        <ul class="nav">
          
        
	
	
<div class="picture">
	<% if current_user %>

 <%= image_tag current_user.image, class: "img", width: 80, height: 80 %>

</br>
Welcome, <strong> <%=  current_user.nickname %></strong>!

</br>
<%= link_to 'Sign out', '/signout' %>
<% else %>
<%= link_to 'Sign in with Github', '/auth/github' %>
<% end %>
<div>

	<%#= link_to "Sign in with Github", "/auth/github" %>

<%= yield %>
</ul>
      </div>
    </div>
</div>
</head>

</body>
</html>
